<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h1>List of Data User Games</h1>
  <a href="/user_games/create">Create Data</a>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td>
            <%= data[i].id %>
          </td>
          <td>
            <%= data[i].username %>
          </td>
          <td>
            <%= data[i].password %>
          </td>
          <td>
            <P>kkkk</P>
            <a href="/user_games/<%= data[i].id %>">View History</a>
            <a href="/user_games/<%= data[i].id %>/edit">View Biodata</a>
            <a onclick="return confirm('are you sure ?')" href="/user_games/<%= data[i].id %>/delete">Delete</a>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
</body>

</html>